.mo-wb-spinner-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-spinner {
	animation: spin 1s linear infinite;
}

.mo-wb-spinner {
  --b: 2px;  /* border thickness */
  --n: 0;    /* number of dashes*/
  --g: 0deg; /* gap  between dashes*/
  --c: #ffffff;   /* the color */
  
  width: 100px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(from 90deg at 50% 50%, #DBF1FF 0deg, rgba(43, 128, 255, 0) 0.04deg, var(--c) 360deg) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
	animation: spin 1s linear infinite;
}