::-webkit-input-placeholder {
  color: var(--btn-txt) !important;
}
  
::-moz-placeholder {
  color:var(--btn-txt) !important;
}
  
:-ms-input-placeholder {
  color: var(--btn-txt) !important;
}
  
:-moz-placeholder {
  color: var(--btn-txt) !important;
}