@media (max-width: 767px){
    .d-none-s1{
        display: none !important;
    }
    .d-block-s1{
        display: block !important;
    }
    .mo-wb-ml-0-s1{
        margin-left: 0 !important;
    }
}