<div class="mo-wb-w-400px mo-wb-mt-30px">
  <div class="w-100">
  <label class="mo-wb-f-b1 mo-wb-mb-8px">Mật khẩu cũ<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
    <mo-wb-components-input
      #firstName
      [value]=""
      [placeholder]="'Nhập mật khẩu cũ'"
      [classInclude]="''"
      (onValueChanged)="handleOnChangeOldPassword($event)">
    </mo-wb-components-input>
  </div>
  <div class="w-100 mo-wb-mt-20px">
    <label class="mo-wb-f-b1 mo-wb-mb-8px">Mật khẩu mới<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
    <mo-wb-components-input 
      #lastName 
      [value]="" 
      [placeholder]="'Nhập mật khẩu mới'"
      [classInclude]="''"
      (onValueChanged)="handleOnChangeNewPassword($event, 'new')">
    </mo-wb-components-input>
  </div>

  <div class="d-flex align-items-center mo-wb-mt-20px">
    <div class="w-100">
    <label class="mo-wb-f-b1 mo-wb-mb-8px">Nhập lại mật khẩu mới<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
      <mo-wb-components-input
        [value]=""
        [classInclude]="''"
        [placeholder]="'Nhập lại mật khẩu mới'"
        (onValueChanged)="handleOnChangeNewPassword($event, 'repeat')">
      </mo-wb-components-input>
    </div>
  </div>
  <mo-wb-components-button
    [type]="'pri'"
    [label]="'Cập nhật'"
    [classInclude]="'mo-wb-mt-20px'"
    (onClick)="handleOnClickUpdateUser($event)">
  </mo-wb-components-button>
</div>