.menu-items li:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}
.flex-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}
.flex-1{
    flex: 1;
}
.active{
    pointer-events: none;
}
.animation{
    animation: left-to-right ease .3s;
}
.navigation{
    transition:  ease .3s;
}
.navigation.d-none-s1{
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
}
@keyframes left-to-right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}