<div class="account-info mo-wb-mt-30px mo-wb-overflow-auto" style="height: calc(100% - 220px);">
  <div class="d-flex align-items-center">
    <div class="mo-wb-w-70px mo-wb-h-70px mo-wb-cursor-pointer d-flex align-items-center justify-content-center mo-wb-color-fff mo-wb-f-b1 mo-wb-border-radius-50px" 
    [style.background-color]="'' | getRandomColor"
    [style.background-image]="avatar ? 'url(' + avatar + ')' : ''"
    (click)="handleOnClickChangeAvatar($event)"
    style="background-size: cover; background-repeat: no-repeat; background-position: center center;">{{userInfo.firstName | getFirstCharacter}}
    </div>
  <p class="mo-wb-f-b1 mo-wb-ml-15px">{{userInfo.firstName+ ' '+userInfo.lastName | translate}}</p>
  </div>
  <div *ngIf="tabActive.id === 'account'" class="mo-wb-w-600px mo-wb-mt-30px mo-wb-pr-15px">
    <div class="d-flex align-items-center">
      <div class="w-50">
      <label class="mo-wb-f-b1 mo-wb-mb-8px">First name<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
        <mo-wb-components-input
          #firstName
          [value]="userInfo.firstName"
          [classInclude]="''"
          (onValueChanged)="handleOnChangeName('first_name')">
        </mo-wb-components-input>
      </div>
      <div class="w-50 mo-wb-ml-15px">
        <label class="mo-wb-f-b1 mo-wb-mb-8px">Last name<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
          <mo-wb-components-input
            #lastName
            [value]="userInfo.lastName"
            [classInclude]="''"
            (onValueChanged)="handleOnChangeName('last_name')">
          </mo-wb-components-input>
        </div>
    </div>

    <div class="d-flex align-items-center mo-wb-mt-20px">
      <div class="w-100">
      <label class="mo-wb-f-b1 mo-wb-mb-8px">Email<span class="mo-wb-color-r mo-wb-ml-3px">*</span></label>
        <mo-wb-components-input
          [value]="userInfo.email"
          [classInclude]="''">
        </mo-wb-components-input>
      </div>
    </div>

    <div class="d-flex align-items-center mo-wb-mt-20px">
      <div class="w-50">
        <label class="mo-wb-f-b1 mo-wb-mb-8px">Role</label>
          <mo-wb-components-select
            [type]="'singe'"
            [items]="roleList"
            [classInclude]="''"
            [selectedIds]="[userInfo.role]"
            (onSelectedChange)="handleOnSelectRole($event)">
          </mo-wb-components-select>
        </div>
      <div class="w-50 mo-wb-ml-15px">
        <label class="mo-wb-f-b1 mo-wb-mb-8px">Status</label>
        <div class="d-flex">
          <mo-wb-components-button-toggle_button 
            [active]="userInfo.status"
            (onChangeToggle)="handleOnChangeStatus($event)">
          </mo-wb-components-button-toggle_button>
          <p class="mo-wb-ml-15px">{{'Trạng thái hoạt động' | translate}}</p>
        </div> 
        </div>
    </div>

    <div class="d-flex align-items-center mo-wb-mt-20px">
      <div class="w-50">
      <label class="mo-wb-f-b1 mo-wb-mb-8px">Username</label>
        <mo-wb-components-input
          [classInput]="'mo-wb-disabled'"
          [value]="userInfo.username"
          [classInclude]="''">
        </mo-wb-components-input>
      </div>
      <div class="w-50 mo-wb-ml-15px">
        <label class="mo-wb-f-b1 mo-wb-mb-8px">Department</label>
          <mo-wb-components-select
            [type]="'singe'"
            [items]="departmentList"
            [classInclude]="''"
            [selectedIds]="[userInfo.department]"
            (onSelectedChange)="handleOnSelectRole($event)">
          </mo-wb-components-select>
        </div>
    </div>
    <mo-wb-components-button
      [type]="'pri'"
      [label]="'Cập nhật'"
      [classInclude]="'mo-wb-mt-20px'"
      (onClick)="handleOnClickUpdateUser($event)">
    </mo-wb-components-button>
  </div>

  <file-manager-settings-security
    *ngIf="tabActive.id === 'security'">
  </file-manager-settings-security>

</div>